.git
.github
.gitignore
.idea
.vscode
web/
server/py/__pycache__
component/__pycache__
component/mz/fpcalc
media/
data/
db.sqlite3
*.png
*.jpg
*.jpeg
Dockerfile
docker-compose.yml
README.md
readme_en.md
LICENSE
